In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import norm

In [16]:
df = pd.read_csv(r'./output/l0_insertion_5.csv', header=None)
df.describe()

                  0           1
count  9.990000e+02  999.000000
mean   5.281400e+05  205.005005
std    2.970569e+05   14.111671
min    3.032000e+03  151.000000
25%    2.669550e+05  196.000000
50%    5.413070e+05  205.000000
75%    7.741840e+05  215.000000
max    1.048540e+06  254.000000

In [17]:
real = 200
result = 0;

for i in df[1]:
    result += (i-real)**2
    
print(np.sqrt(result / 999) / 200)

0.07483147566198163

In [19]:
3 / 512/10000

5.859375e-07